extends layout

block content
  p(style="text-align:right;")
    a(href="http://info.cookpad.com/24contest4")「第4回 開発コンテスト24」
    応募作品
  h1= title
  p あの頃、忌み嫌っていた老害に、あなたがなっていないかどうかをチェックします。
  p
    a(href="/auth/twitter")
      img(src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png")
  p 説明は
    a(href="https://github.com/meso/rougai/blob/master/README.md")
      こちら
