extends layout

block content
  h1= title
  p あの頃、忌み嫌っていた老害に、あなたがなっていないかどうかをチェックします。
  p
    a(href="/auth/twitter")
      img(src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png")